@import url('https://fonts.googleapis.com/css?family=Roboto');

body,
html {
  font-size: 62.5%;
  height: 100%;
  background-color: #eeeeee;
  font-family: 'Roboto', sans-serif;
}

.candidate-list-header {
  font-size: 1.4rem;
  max-width: 100%;
  padding-left: 2.5rem;
}

.list-entry {
  padding: 2rem 0 1rem;
  font-size: 1.3rem;
  cursor: pointer;
  margin: 1rem;
  background-color: white;
}

.candidate-info,
.navbar-brand {
  font-size: 1.4rem;
}

.name {
  font-size: 1.4rem;
  margin-bottom: 0;
}

.email {
  color: darkgray;
}

.entry-margin {
  margin-top: 1rem;
}

.sort-header {
  cursor: pointer;
}

.nav {
  font-size: 1.2rem;
}

@media screen and (min-width: 992px) {
  .action {
      text-align: center;
  }
}